body {
  background-color: mediumorchid;
  font-family: Bubblegum Sans;
  padding: 40px;
}

.centred {
  display: block;
  text-align: center;
}

.centred input,
.centred button {
  display: block;
  margin: 10px auto;
}

.redX {
  display: none;
  text-align: center;
}

.actual_website {
  display: none;
  text-align: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides img {
  display: block;
  margin: 0 auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  margin: 10px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}